<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
	</head>
	<body>
		<div class="mx-auto topbar">
    		<div class="nav justify-content-center">
        		<a href="/"><img id="ff" src="/assets/img/logo.gif"></a>
   			</div> 
		</div>  
		<div id="page-content">
			{{{ body }}}
		</div>
		<footer>
  			<a target="_blank" href="/api/burgers">API list</a><span class="divider">|</span>© Stepan Nelasov 2019<span class="divider">|</span><a target="_blank" href="https://github.com/Stepos36/burger">Github</a>
		</footer>
	</body>
</html>